<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">mCSD Background<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="146_introduction.html">mCSD</a>
      </li>
      <li>
        <a href="1461_actors_and_transactions.html">Actors and Transactions</a>
      </li>
      <li>
        <a href="1462_actors_options.html">Actors Options</a>
      </li>
      <li>
        <a href="1463_required_actor_groupings.html">Required Actor Groupings</a>
      </li>
      <li>
        <a href="1464_overview.html">Overview</a>
      </li>
      <li>
        <a href="1465_security_considerations.html">Security Considerations</a>
      </li>
      <li>
        <a href="1466_cross_profile_considerations.html">Cross Profile Considerations</a>
      </li>
      <li>
        <a href="1467_deployment_considerations.html">Deployment Considerations</a>
      </li>
      <li>
        <a href="a_issues.html">Open and Closed Issues</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Transactions<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="ITI-90.html">Find Matching Care Services [ITI-90]</a>
      </li>
      <li>
        <a href="ITI-91.html">Request Care Services Updates [ITI-91]</a>
      </li>
    </ul>
  </li>
  <li><a href="artifacts.html">Artifact Index</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Support<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a target="_blank" href="{{site.data.fhir.path}}index.html">FHIR Spec <img src="external.png" style="text-align: baseline"/></a>
      </li>
    </ul>
  </li>
</ul>      
